@model IEnumerable<Color>
@{ int count = (ViewBag.PageIndex - 1) * 5; }


<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Setting</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Color color in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@color.Name</td>
                <td style="color:@(color.IsDeleted ? "red":"green")">@(color.IsDeleted ? "DeActive":"Active")</td>
                <td>
                    <a class="btn btn-warning w-25" asp-action="Update" asp-route-id="@color.Id">Update</a>
                    <a id="@(color.IsDeleted ? "restoreCategory":"deleteCategory")" class="btn w-25 @(color.IsDeleted ? "btn-primary":"btn-danger")" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex" asp-action="@(color.IsDeleted ? "Restore":"Delete")" asp-route-id="@color.Id">@(color.IsDeleted ? "Restore":"Delete")</a>
                </td>
            </tr>            
        }
    </tbody>
</table>