@model IEnumerable<Social>
@{ int count = (ViewBag.PageIndex - 1) * 5; }


<div class="row">
    <div class="col-lg-12 tagTable">
        <div class="d-sm-flex justify-content-between mb-4 align-items-center">
            <h1 class="h3 mb-0 text-gray-800">Social</h1>
            <form>
                <div class="row">
                    <div class="col">
                        <select class="form-control" name="status">
                            @if (ViewBag.Status == null)
                            {
                                <option selected>All</option>
                                <option value="false">Active</option>
                                <option value="true">DeActive</option>
                            }
                            else if (ViewBag.Status == true)
                            {
                                <option>All</option>
                                <option value="false">Active</option>
                                <option value="true" selected>DeActive</option>
                            }
                            else
                            {
                                <option>All</option>
                                <option value="false" selected>Active</option>
                                <option value="true">DeActive</option>
                            }
                        </select>
                    </div>
                    <div class=" col">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            
            </form>
            <a class="btn btn-success py-2 px-5" asp-action="Create">Add</a>
        </div>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Setting</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Social social in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td><i class="@social.Icon"></i></td>
                        <td><a href="@social.Link">@social.Name</a></td>
                        <td style="color:@(social.IsDeleted ? "red":"green")">@(social.IsDeleted ? "DeActive":"Active")</td>
                        <td>
                            <a class="btn btn-warning w-25" asp-action="Update" asp-route-id="@social.Id">Update</a>
                            <a id="@(social.IsDeleted ? "restoreCategory":"deleteCategory")" class="btn w-25 @(social.IsDeleted ? "btn-primary":"btn-danger")" data-page="@ViewBag.PageIndex" asp-action="@(social.IsDeleted ? "Restore":"Delete")" asp-route-id="@social.Id">@(social.IsDeleted ? "Restore":"Delete")</a>
                        </td>
                    </tr>
                 }
            </tbody>
        </table>

    </div>
    <div class="col-lg-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                @if (ViewBag.PageIndex > 1)
                {
                    <li class="page-item">
                        <a class="page-link text-warning" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="1" aria-label="Previous">
                            @("<<")
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-warning" asp-action="index" asp-route-status="@ViewBag.Status" asp-route-page="@(ViewBag.PageIndex-1)" aria-label="Previous">
                            @("<")
                        </a>
                    </li>
                    @if (ViewBag.PageIndex == ViewBag.PageCount && ViewBag.PageIndex > 2)
                    {
                        <li class="page-item"><a class="page-link text-warning" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex-2)">@(ViewBag.PageIndex-2)</a></li>
                    }
                    <li class="page-item"><a class="page-link text-warning" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)">@(ViewBag.PageIndex-1)</a></li>
                 }

                <li class="page-item active"><a class="page-link bg-warning text-white" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@ViewBag.PageIndex">@ViewBag.PageIndex</a></li>

                @if (ViewBag.PageIndex < ViewBag.PageCount)
                {
                    <li class="page-item"><a class="page-link text-warning" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex + 1)">@(ViewBag.PageIndex + 1)</a></li>
                    @if (ViewBag.PageIndex == 1 && (ViewBag.PageIndex + 2) < ViewBag.PageCount)
                    {
                        <li class="page-item"><a class="page-link text-warning" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@(ViewBag.PageIndex+2)">@(ViewBag.PageIndex+2)</a></li>
                    }
                    <li class="page-item">
                        <a class="page-link text-warning" asp-route-status="@ViewBag.Status" asp-route-page="@(ViewBag.PageIndex + 1)" aria-label="Next">
                            @(">")
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-warning" asp-route-status="@ViewBag.Status" asp-action="index" asp-route-page="@ViewBag.PageCount" aria-label="Next">
                            @(">>")
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
@section Script{
    <script src="~/manage/js/sweetalert2.all.min.js"></script>
    <script src="~/manage/js/Custom.js" asp-append-version="true"></script>
    <script>

    </script>
}

@section Style{
    <link href="~/manage/css/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
}